@font-face {
  font-family: 'Golos Text';
  src: url('./fonts/GolosText[wght].ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.App {
  margin: 0 auto;
  font-family: 'Golos Text', sans-serif;
}

.App-head {
  height: 72px;
  margin-left: -20px;
}

.App-head > h1 {
  padding: 20px 20px 10px;
  font-size: 32px;
  color: #6B4ACB;
}

.App-controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-right: 60px;
}

.App-head > h1, .App-controls, .App-center {
  max-width: 1152px;
  margin: 0 auto;
}

.App-controls > button {
  width: 114px;
  background-color: #6B4ACB;
}


button {
  height: 40px;
  border-radius: 4px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: none;
}

.List-item, .App-head {
  border-bottom: 1px solid #EFEFEF;
}

.Item {
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item_selected {
  background: #6B4ACB1A;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
  font-weight: 700;
  white-space: nowrap;
}

.Item-count {
  font-weight: 400;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-actions > button {
  width: 105px;
  background-color: #D43B3B;
}
